MANIFEST
build
dist
__pycache__
*.egg-info
*.pyc

# code coverage files
.coverage
coverage.xml

# merge conflicts
*.orig

# temporary folder for test scripts
temp

# Vscode sphinx build files
_build

# virtual environment
.venv

# working copy for GH pages
.pages
